/* css variables

TODO go through and replace once used items with id #
Also remove an __ if not needed to match naming conventions
*/
:root {
    --accent-color: #d6f0cf;
    --accent-color-project:#59a6d3;
    --light-gray-color: #b4aeab;
    --off-black-color: #393d38; 
    --off-white-color: #e2dfdf;
    --playstore-color: rgb(22, 94, 82);
    --github--color:rgb(170, 142, 166);
  }
  
html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color:var(--light-gray-color);
}
  
p {
  font-weight: 300;
  color:var(--off-black-color);
}
.project-p{
  font-weight: 300;
  color:var(--off-white-color)
}
  
a, a:hover {
  text-decoration: none;
  color:var(--off-black-color);
}

h1 {
  font-weight: 500;
}
nav {
  background-color: var(--light-gray-color);
}

.project-section {
  color: var(--off-white-color)
}


.profile-pic{
  border-radius: 50%;
}
  
/* grid layout for all containing divs on home page*/
#container { 
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 75px 300px 300px 300px;
  row-gap: 40px;  
  grid-template-areas:
      'menu menu .'
      '. header .'
      '. terminal .'
      'contact-grid contact-grid contact-grid'
        
}


#container-contact {  
  display: grid;
  grid-area: contact-grid;
  grid-template-columns: repeat(3, [col] auto);
  grid-template-rows: 200px;
  column-gap: 150px;
  justify-self: center;

      
}

.contact-item{
  text-align: left;
  font-weight: 300;
  font-size: xx-large;
  transition: .2s ease-out;
  
}
.contact-item:hover{
  color: var(--accent-color);
}

.header{

  text-align: center;
  background-color: var(--light-gray-color);
  grid-area: header;
  justify-self: center;
}

.menu {
  display: block;
  margin: 0;
  text-align: left;
  overflow: hidden;
  list-style: none;
  background-color: var(--light-gray-color);
  
}
.menu.dark{
  background-color: var(--off-black-color);
  color: var(--off-white-color);
}
.menu-container{
  grid-area: menu;
}
.project-menu{
  margin: 0;
  text-align: left;
  overflow: hidden;
  list-style: none;
  background-color: var(--off-black-color);   
}
.terminal {
  width: 90%;
  height: 200px;
  text-align: left;
  color: white;
  background-color: black;
  padding-left: 1rem;
  border-radius: 4px;
  justify-self: center;
  grid-area: terminal;
  box-shadow: 0px 8px 10px 8px black;
}
#hidden-input{
  position: absolute;
  z-index: 999;
  background-color: black;
}
#hidden-input-field{
  position: absolute;
  z-index: 999;
  border: none;
  border-width: 0px;
  background-color: black;
}
textarea:focus, input:focus{
  outline: none;
}

.menu-item {
  display: inline-block;
  padding: 20px;
  font-weight: 200;
  color: var(--off-black-color);
}
.toggle {
  display: none;
}
#project-container{
  background-color: var(--off-black-color);
  color: var(--white-color);
}
#project-content{
  display: flex;
  margin-left: 260px;
  flex-direction: column;
  border-left: 2px solid var(--off-white-color);
  border-top: 1px solid var(--off-white-color);
  padding-left: 10px;
}

#project-nav {
  font-weight: 400;
  position: fixed;
  width: 260px;
  z-index: 100;
  background-color: var(--off-black-color);
  border-top: 1px solid var(--off-white-color);
  border-bottom: 1px solid var(--off-white-color);
}


#project-nav ul {
  list-style: none;
  margin-left: -30px; 
}

#project-nav ul ul{
  margin-left:-20px;
}
  
#project-nav li:hover {
  color:var(--accent-color-project);
  cursor: pointer;
  transition: .2s ease-out;
}
#project-nav li {
  color:var(--off-white-color);
}

#project-nav .selected {
  color:var(--accent-color-project);
  position: relative;
  list-style: none;
}

#project-nav .selected:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  left: -1.5rem;
  top: 0.3rem;
}
 
@media screen and (max-width: 1080px) {
  
  .toggle{
    display: block;
    
  }
  .collapsed{
    margin-top: 20px;
    margin-left: 40px;
  }
  .terminal{
    width: 100%;
  }
  
  #container{
    display: flex;
    flex-direction: column;
    
  }
  #project-container{
    display: flex;
    flex-direction: column;
    
  }
  
  #container-contact{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
  }
  .contact-item{
    font-size: large; 
  }
  .menu-item {
    display: block;
    padding: 15px;
    margin-left: -50px;
  }
  .menu {
    display: none;
    border-radius: 5%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--off-black-color);
    opacity: .8;
    position: absolute;
    z-index: 100;

  }
  .menu.dark {
    border-color: var(--off-white-color);
  }
  
  #project-nav {
    display: none;
    
  }
  #project-content{
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    border-left: none;
    border-top: 2px solid var(--off-white-color);
    padding-left: 10px;
  }
  .project-menu{
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    border-left: none;
    padding-left: 10px;
  }
  
  .showing{
    display: block;
  }
  

}
 
.link {
  font-weight: 400;
  font-size: large;
  transition: .2s ease-out;
  cursor: pointer;
}
.link.dark{
  color: var(--off-white-color);
}
.link.dark:hover{
  color: var(--accent-color-project);
}

.link:hover {
  color: var(--accent-color);
}

.title {
  font-weight: 600;
  color: var(--off-black-color);
}
.subtitle{
  margin: -10px auto 10px auto;
  font-weight: 500;
  
}


/* Third party CSS styles with minor changes
 to padding ,color, and borders.

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.3.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 */

.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  padding: 10px 22px;
  border-radius: 2%;
  font-weight: 600;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  
  background-color: var(--github--color);
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
.hvr-icon-forward.playstore{
  background-color: var(--playstore-color) ;
}
.hvr-icon-forward.secondBtn{
  margin-left: 75px;
}

@-webkit-keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-down {
  0%,
	50%,
	100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
	75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.hvr-icon-down {
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  padding: 10px 22px;
  border-radius: 5%;
  background-color: antiquewhite;

}
.hvr-icon-down .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover .hvr-icon, .hvr-icon-down:focus .hvr-icon, .hvr-icon-down:active .hvr-icon {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.hvr-icon-down.secondBtn{
  margin-left: 75px;
}
