/* css variables

TODO go through and replace once used items with id #
Also remove an __ if not needed to match naming conventions
*/
:root {
    --primary-color: #432E30;
    
    --accent-color: #d6f0cf;
   
    --white-color: #FAFBFC;
    --light-gray-color: #b4aeab;
    
    --off-black-color: #393d38; 
    --bg-color: #F8F8FA;
    --code-bg-color: #F0E8E8;
    --terminal-green: #41FF00; 
    
    --common-button-color: rgb(22, 94, 82);
    --github-button-color:rgb(94, 41, 87);
  }
  
  /* normalized */
  html, body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color:var(--light-gray-color);
  
  }
  
  p {
    font-weight: 300;
    color:var(--off-black-color);
  }
  .project-p{
    font-weight: 400;
    color:antiquewhite
  }
  
  li {
     
      font-weight: 200;
      color: var(--off-black-color);;
    
  }
  
  a, a:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  h1 {
    font-weight: 500;
  
    
  }
  
  
  
  /* global components */
  
  /* typography */
  .project-section {
    color: antiquewhite
  }
  
  
 
  
  
  /* buttons */
  .button--primary {
    padding: 10px 22px;
    background-color: var(--accent-color);
    color: white;
    position: relative;
    text-decoration: none;
    border: 0;
    transition: all .3s ease-out;
  }
  
  .button--primary:after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-color-light);
    right: -0.4rem;
    top: -0.4rem;
    transition: all 0.3s ease-out;
  }
  
  .button--primary:hover {
    text-shadow: 0px 1px 1px var(--accent-color-dark);
    color: white;
    transform: translate3D(0, -3px, 0);
  }
  
  .button--primary:hover::after {
    transform: rotate(90deg);
  }
  
  .button--common {
    padding: 10px 22px;
    background-color: var(--common-button-color);
    color: white;
    position: relative;
    text-decoration: none;
    border: 0;
    transition: all .3s ease-out;
  }
  
  .button--common:after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-color-light);
    right: -0.4rem;
    top: -0.4rem;
    transition: all 0.3s ease-out;
  }
  
  .button--common:hover {
    text-shadow: 0px 1px 1px var(--accent-color-dark);
    color: white;
    transform: translate3D(0, -3px, 0);
  }
  
  .button--common:hover::after {
    transform: rotate(90deg);
  }
  
  .button--github {
    padding: 10px 22px;
    background-color: var(--github-button-color);
    color: white;
    position: relative;
    margin-left: 50px; 
    text-decoration: none;
    border: 0;
    transition: all .3s ease-out;
  }
  
  .button--github:after {
    position: absolute;
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-color-light);
    right: -0.4rem;
    top: -0.4rem;
    transition: all 0.3s ease-out;
  }
  
  .button--github:hover {
    text-shadow: 0px 1px 1px var(--accent-color-dark);
    color: white;
    transform: translate3D(0, -3px, 0);
  }
  
  .button--github:hover::after {
    transform: rotate(90deg);
  }

.profile-pic{
  border-radius: 50%;
}
  
  .button--secondary {
    padding: 10px 22px;
    border: 2px solid var(--primary-color);
    transition: all 0.5s ease-out;
  }
  
  .button--secondary:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
  /* grid layout for all containing divs on home page*/
  #container { 
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 75px 300px 300px 300px;
    row-gap: 40px;  
    grid-template-areas:
        'menu menu .'
        '. header .'
        '. terminal .'
        'contact-grid contact-grid contact-grid'
        
        
       
  }



   #container--contact { 
    
    display: grid;
  
    grid-area: contact-grid;
    grid-template-columns: repeat(3, [col] auto);
    grid-template-rows: 200px;
    column-gap: 200px;
    justify-self: center;

       
  }

 .contact--item{
   text-align: left;
   font-weight: 300;
   font-size: xx-large;
   transition: .2s ease-out;
   
 }
 .contact--item:hover{
  color: var(--accent-color);
 }

  .header{
  
    text-align: center;
    background-color: var(--light-gray-color);
    grid-area: header;
    justify-self: center;
  

  }

  
  
  nav {
    background-color: var(--light-gray-color);
  }
  
  .menu {
    margin: 0;
    text-align: left;
    overflow: hidden;
    list-style: none;
    background-color: var(--light-gray-color);
    grid-area: menu;
  }
  .terminal {
    width: 90%;
    height: 200px;
    text-align: left;
    color: white;
    background-color: black;
    padding-left: 1rem;
    border-radius: 4px;
    justify-self: center;
    grid-area: terminal;
    box-shadow: 0px 8px 10px 8px black;
  }
  #hidden-input{
    position: absolute;
    z-index: 999;
    
    background-color: black;
  }
  #hidden-input-field{
    position: absolute;
    z-index: 999;
    border: none;
    border-width: 0px;
    background-color: black;
  
  }
  textarea:focus, input:focus{
    outline: none;
}

  

  
  .menu__item {
    padding: 1rem;
    display: inline-block;
  }
  
  .menu__item.toggle {
    display: none;
  }
  

  
  /* replace with min-width -mk TODO */
  @media screen and (max-width: 800px) {
    
    .menu__item{
      display: none;
    }
  
    .menu__item.toggle {
      display: inline-block;
    }
  
    .menu {
      text-align: left;
      padding: 0.5rem 1rem;
    }
  
    .toggle {
      display: block;
    }
  
    .menu.responsive .menu__item:not(:first-child) {
      display: block;
      padding: 0 0 0.5rem 0;
    }
  }
  

 

.link {
  font-weight: 400;
  font-size: large;
  transition: .2s ease-out;
  cursor: pointer;
}

.link:hover {
  color: var(--accent-color);
}

.title {
  font-weight: 600;
  color: var(--off-black-color);
}
.subtitle{
  margin: -10px auto 10px auto;
  font-weight: 500;
  
}
#project-container{
  background-color: var(--off-black-color);
  color: antiquewhite;
}
#project-content{
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  min-height: 100vh;

}

#project-nav {
 
  font-weight: 600;
  position: fixed;
  width: 100px;
  z-index: 100;
  background-color: var(--off-black-color);
  border-radius: 10%;
}


#project-nav ul {
  list-style: none;
}


#project-nav li:hover {
  color:var(--accent-color);
  cursor: pointer;
  transition: .2s ease-out;
}

#project-nav .selected {
  color:var(--accent-color);
  position: relative;
  list-style: square;
}

#project-nav .selected:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  left: -1.5rem;
  top: 0.3rem;
}